.content_area p{
    text-align: center;
    font-size: 20px;
    line-height: 1.8em;
    font-weight: 400;
    margin-bottom: 70px;
}

.content_area p span{
    font-weight: 800;
    color: #ff6600;
}


#list_search{
    overflow: hidden;
    position: relative;
    text-align: center;
    left: 50%;
    margin-left: -410px;
    padding-bottom: 120px;
}

#list_search li{
    float: left;
}

#list_search #list_search1{
    position: absolute;
    top: 90px;
    left: 350px;
    color: #ff6600;
    font-weight: 400;
}

#list_search #list_search3 select{
    padding: 20px;
    font-size: 18px;
    border: 1px solid #f60;
    color: #f60;
    border-right: none;
}

#list_search #list_search4 input{
    width: 600px;
    padding: 20px 15px;
    font-size: 18px;
    outline: none;
    border: 1px solid #f60;
}

#list_search #list_search5 input{
    padding: 20px;
    font-size: 18px;
    background: #f60;
    color: #fff;
    border: none;
} 

#list_content{
    overflow: hidden;
    padding: 30px 0;
}

.list_item{
    float: left;
    width: 400px;
    text-align: center;
    margin-bottom: 60px;
}

.list_item li img{
    transition: all .5s;
}

.list_item a:hover img{
    transform: scale(1.2);
}

.list_item a span::before{
    content: '';
    width: 10px;
    height: 10px;
    background: #ff6600;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
}

.list_item a:hover span{
    color: #ff6600;
}


.list_item .list_item2 img{
    width: 330px;
    height: 330px;
}

.list_item .list_item2 span{
    display: block;
    font-size: 20px;
    font-weight: 800;
    margin: 20px 0;
}

.list_item .list_item1, .list_item .list_item3, .list_item .list_item4, .list_item .list_item5{
    display: none;
} 

.num_wrap{
    clear: both;
    padding-top: 40px;
}

.scale_count{
    text-align: right;
    position: relative;
    margin-right: 35px;
}

.scale_count select{
    padding: 10px 15px;
    color: #666;
    background: #fff;
    border: 1px solid #666;
    font-weight: 400;
}

#button{
    width: 200px;
    margin-bottom: 100px;
    margin-left: 1020px;
}

#button .btn01{
    padding: 10px;
    border: 1px solid #ff6600;
    border-radius: 5px;
    color: #ff6600;
    margin-left: 10px;
    transition: all .4s;
    font-weight: 400;
}


#button .btn01:hover{
    border: 1px solid #ff6600;
    color: #fff;
    background: #ff6600;
}


#page_num {
    overflow: hidden;
    color: #24272f;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    width: 300px;
    margin-top: 30px;
    position: relative;
    left: 50%;
    margin-left: -90px;
    padding-bottom: 30px;
}

#page_num li {
    float: left;
    margin-right: 30px;
}

#page_num li:nth-of-type(2) {
    width: 60px;
}

#page_num li:nth-of-type(3) {
    margin-right: 0;
}
