#content .line_map {
    color: #efefef;
    position: absolute;
    top: -280px;
    left: 50%;
    margin-left: -100px;
    font-size: 14px;
}

.content_area {
    font-family: 'Noto Sans KR', sans-serif;
}

.content_area p {
    font-size: 1.375em;
    text-align: center;
    font-weight: 400;
    margin-bottom: 150px;
    line-height: 3em;
    text-align: center;
    color: #333;
}

.content_area h4 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 100px;
}

.content_area strong {
    color: #ff6600;
}


.way .box1 {
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

.way .box2 {
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

.way .box3 {
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

.way .box4 {
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

.way img {
    float: left;
}

.way dl {
    float: left;
    text-align: left;
    padding: 50px;
}

.way dt {
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 30px;
}

.way dd {
    font-size: 1.125em;
    font-weight: 400;
    margin-bottom: 10px;
}

.way .fas {
    display: block;
    position: absolute;
    font-size: 40px;
    color: #24272f;
}

.way .box1 .fas {
    bottom: 50px;
    right: 30px;
    transition: all .5s;
}

.way .box1:hover .fas {
    color: #ff6600;
    transform: translateY(-20px);
}

.way .box2 .fas {
    bottom: 50px;
    right: 30px;
    transition: all .5s;
}

.way .box2:hover .fas {
    color: #ff6600;
    transform: translateY(-20px);
}

.way .box3 .fas {
    bottom: 50px;
    right: 30px;
    transition: all .5s;
}

.way .box3:hover .fas {
    color: #ff6600;
    transform: translateY(-20px);
}

.way .box4 .fas {
    bottom: 50px;
    right: 30px;
    transition: all .5s;
}

.way .box4:hover .fas {
    color: #ff6600;
    transform: translateY(-20px);
}




#map1 {
    width: 1199px;
    height: 499px;
    border: 1px solid #ccc;
    margin-bottom: 100px;
}

#map2 {
    width: 1199px;
    height: 499px;
    border: 1px solid #ccc;
    margin-bottom: 100px;
}

#map3 {
    width: 1199px;
    height: 499px;
    border: 1px solid #ccc;
    margin-bottom: 100px;
}

#map4 {
    width: 1199px;
    height: 499px;
    border: 1px solid #ccc;
    margin-bottom: 130px;
}