.visual {
    margin-top: 125px;
    position: relative;
    width: 2000px;
    left: 50%;
    margin-left: -1000px;
}
.sub_menu {
    font-family: 'Noto Sans KR', sans-serif;
    position: relative;
}
.sub_menu h3 {
    font-size: 2.375em;
    font-weight: 100;
    color: #fff;
    position: absolute;
    top: -200px;
    left: 50%;
    margin-left: -90px;
}
.sub_menu ul {
    overflow: hidden;
    width: 780px;
    height: 65px;
    box-shadow: 0 3px 10px 0 #666;
    position: absolute;
    top: -33px;
    left: 50%;
    margin-left: -390px;
}
.sub_menu li a {
    float: left;
    width: 260px;
    padding: 18px 0;
    background: #fff;
    font-size: 1.25em;
    text-align: center;
    transition: all .5s ease-out;
}
.sub_menu li:hover a {
    color: #fff;
    background: #ff6600;
}
.sub_menu .current a {
    background: #ff6600;
    color: #fff;
}
.sub_menu ul {
    width: 1040px;
    margin-left: -520px;
}
#content {
    width: 1200px;
    margin: 0 auto;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
}
#content .title_area {
    position: relative;
}
#content .line_map {
    color: #efefef;
    position: absolute;
    top: -280px;
    left: 525px;
    font-size: 14px;
}
#content .title_area h2 {
    font-size: 3.750em;
    font-weight: 700;
    margin-top: 170px;
    text-align: center;
    padding-bottom: 130px;
}
#content .title_area ul {
    overflow: hidden;
    padding: 0 150px;
}
#content .title_area li {
    float: left;
    margin: 40px 335px 0 0;
    font-size: 1.25em;
    text-align: center;
    position: relative;
}
#content .title_area li a::after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: #ccc;
    position: absolute;
    top: -30px;
    left: 30px;
    transition: all .5s;
}
#content .title_area li:hover a::after {
    background: #ff6600;
    transform: rotate(45deg);
}
#content .title_area li a {
    color: #999;
}
#content .title_area li:hover a {
    color: #333;
    font-weight: 400;
}
#content .title_area .last {
    margin-right: 0;
    position: relative;
}
#content .title_area .last::after {
    content: '';
    display: block;
    width: 2000px;
    height: 1px;
    background: #ccc;
    position: absolute;
    top: -20px;
    left: -1000px;
    z-index: -1;
}
#content .title_area .current::after {
    background: #ff6600;
    transform: rotate(45deg);
}
#content .title_area .current {
    font-weight: 400;
    color: #333;
}

/* sticky menu */
#content .title_area .navBox.menu_sticky {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #24272f;
    z-index: 100;
}

#content .title_area .navBox.menu_sticky ul {
    width: 1200px;
    margin: 0 auto;
}

#content .title_area .navBox.menu_sticky ul li {
    margin-top: 0;
    margin-left: 200px;
    margin-right: 0;
    width: 400px;
    padding: 20px 0;

}

#content .title_area .navBox.menu_sticky ul li:nth-of-type(2) {
    margin-left: 0;
}

#content .title_area .navBox.menu_sticky a {
    color: #fff;
    padding: 40px 98.5px;
    font-size: 1.429em;
    font-size: 22px;
    font-weight: 400;
}

#content .title_area .navBox.menu_sticky a::after {
    content: '';
    display: none;
}

#content .title_area .navBox.menu_sticky .spy {
    background: #fff;
    color: #24272f;
    font-size: 22px;
    font-weight: 400;

}

#content .title_area .navBox.menu_sticky a.link1 {
    padding: 30px 149px;
}

#content .title_area .navBox.menu_sticky a.link2 {
    padding: 30px 159.5px;
}

#content .title_area .navBox.menu_sticky a:hover {
    background: #fff;
    color: #24272f;
}

/* sticky menu end */