.content_area {
    font-family: 'Noto Sans KR', sans-serif;
}

.content_area .date p {
    font-size: 1.375em;
    text-align: center;
    font-weight: 400;
    margin-bottom: 150px;
    line-height: 3em;
}

#calendar {
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 150px;
}